
<script>
	document.getElementById("theButton").addEventListener("click",
    function() {
  window.postMessage({ type: "FROM_PAGE", text: "Hello from the popup!" }, "*");
}, false);

</script>

<button id="theButton" name="click" onClick="notificar(2, 'foo bar', 'Olá mundo');">Click</button>